@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle at center, #FEF8F0 10%, rgba(249,183,93,0.4) 50%, rgba(49,129,98,0.1) 90%);
  background-size: cover;
}


.line-h{
  line-height: 3.5rem;
}